:root {
  --main-font: 'Inter';
  --input-text-color: #484848;
  --main-blue-color: #92B4EC;
  --secondary-color: #FFD24C;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 25px;

}

header {
  position: fixed;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
}

p{
  width: 100%;
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  padding-bottom: 126px;
}
button {
  border: 0;
  background-color: white;

}
button:hover{
  cursor: pointer;
}
input, label {
  width: 100%;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 30px;
  border: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--input-text-color);

}
input:hover, input:focus{
  background-color: var(--main-blue-color);
}
form {
  width: 21%;
  margin: 0 3.15% 0 4.5%
}

header button {
  padding: 0 1.35% 0 1.35%;
  height: 100px;
  max-height: 100%;
  box-sizing: border-box;
}

header button:hover {
  background-color: var(--main-blue-color);
  border-radius: 10%;

}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

header .container {
  width: 100vw;

}
h1{
  padding-top: 40px;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  padding-bottom: 83px;
}
.icon{
  left:35px;
  top:11px;
}
.icon:hover{
  cursor: pointer;
}
.fa-chevron-down {
  font-size: 11px;
}

.chevron {
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 0.5px black solid;
  border-radius: 50%;
  bottom: 3px;
}

header .container, .user_div {
  align-items: center;
}
.user_div{
  right: 120px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.logo {
  padding: 11px 0 11px 7%;
}

.star {
  padding-right: 1.6vw;
  width: 3vw;
  height: 3vw;
}
.hello .container{
  width: calc(100% - 220px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 240px;
  justify-content: space-between;
}
.hello button{
  width: 410px;
  height: 85px;
  background-color: var(--secondary-color);
  border-radius: 30px;
  margin-bottom: 200px;
}
.hello button:hover{
  background-color: var(--main-blue-color);
  color: white;
}
.dog_image{
  height: 100%;
  padding-bottom: 167px;
}
.why_fluffy .container{
  align-items: center;
}
.why_fluffy p{
  text-align: center;
}
.cards{
  padding-top: 63px;
  padding-bottom: 163px;
}
.card{
  width: 360px;
  height: 430px;
  background: #F5F9FF;
  box-shadow: 0 17px 18px -11px rgba(73, 92, 128, 0.25);
  border-radius: 27px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  align-items: center;
  justify-content: center;
}
.card h3{
  font-size: 22px;
  line-height: 26px;
}
.card p{
  padding: 0;
  width: 85%;
  font-size: 18px;
  line-height: 33px;
}
.card:hover{
  transition-duration: 0.3s;
  margin-top: -30px;
  background-color: var(--main-blue-color);
}
.card:hover img{
  transition-duration: 0.3s;
  filter: brightness(0) invert(1);
}